/build
/dist
/MANIFEST
**/*.egg-info/
/.pytest_cache/
/docs/build
/.eggs
/cov.xml
**/__pycache__/
notes.txt
/.idea

test-file
scrap_306.ipynb
CHANGELOG.md
/test_data/wrfout_d01_2024-08-29_01_00_00
make_docs_figures.ipynb